/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Labrada:ital@1&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.contact-img{
    width: 150px;
    height: 150px;
}